#root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  background-color: #242424;
}

html, body {
  background-color: #242424;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* Header/Navbar */
.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.register-body {
  position: absolute;
  right: 16.5rem;
}
.register-form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  width: 250px;
}
.register-input {
  height: 25px;
  margin: 3px 0;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #1a1a1a;
    color: white;
  }
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

h1 {
  color: #333;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
}

article {
  background-color: rgb(255, 247, 236);
  border-radius: 5px;
  padding: 2%;
  margin-bottom: 4%;
  width: calc(25% - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
 
}

.game img {
  width: 90%;
  height: 260px;
  object-fit: contain;
  border-radius: 5px;
  margin-bottom: 6%;
  margin-top: 10px;
}


article p {
  font-weight: bold;
  margin-bottom: 2%;
  color: #000000;
}
/* ------------------------------------xbox description toggle */
.button.seemore{
  background-color: rgb(255, 247, 236);
  
}



/* --------game cards----------- */
.game .image {
  transition: transform 0.7s ease;
  max-height: 500px;
  width: 100%;
  object-fit: contain;
}

.game img:hover {
  transform: scale(1.1);
}


.expanded {
  position:fixed ;
  top: 30%;
  display:flex;
  width: 50%;
  height:60%;
  flex-direction: row;
  z-index: 999;
  border: 2px#000000 solid;

}
.expanded .image {
  width: 100%; 
  height: 500px; 
  object-fit: cover; 
  border-radius: 8px; 
}

.expanded .game-details{
padding-left:2%;
padding-right:2%;
width:60%;

}
.expanded .game-details h2{
  font-size: 39px;
  line-height: 1.5;
}
.expanded .game-details p{
  font-size: 25px;

}

.expanded .game-details button{
  margin-top:50px;
}

#xgame {
  max-width: 50%;
  padding-bottom: 40px;
  padding-right: 20%;
  padding-left: 20%;
}

#pgame, #ngame {

    width:80%;
    height: 250px; 
    object-fit: cover;
    padding-bottom: 20px;
    border-radius: 8px;
  }


#agame {
  width: 80%;
    height: 250px; 
    object-fit: cover;
    padding-bottom: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5%;
  
}

.xbox-container,
.playstation-container,
.nintendo-container,
.all-container {
  flex: 0 0 calc(50% - 2%);
  height: 200px;
  margin: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.xbox-container {
  background-color: #28c628; 
}

.playstation-container {
  background-color: #0051bd; 
}

.nintendo-container {
  background-color: #e60012; 
}
.nintendo-container img {
  border-radius: 10px;
}

.all-container {
  background-color: #f4f4f4; 
}
.all-container img {
  border-radius: 10px;
}
.xbox-container a,
.playstation-container a,
.nintendo-container a,
.all-container a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.all-container a {
  color: black;
}

.xbox-container:hover {
  background-color: #179b17; 
}

.playstation-container:hover {
  background-color: #003087; 
}

.nintendo-container:hover {
  background-color: #b90202;
}

.all-container:hover {
  background-color: goldenrod;
}

#logo img {
  width: 400px;
  height: auto;
  object-fit: cover;
  
}

.register-body {
  color: midnightblue;
  font-weight: bolder;
  background-color: rgb(255, 247, 236);
  padding: 10px;
  border: 5px rgb(29, 29, 191) solid;
  border-radius: 10px;
}
#drop {
  width: 115px;
  padding: 9px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #1a1a1a;
  color: #f9f9f9;
  font-size: 1em;
  cursor: pointer;
  transition: border-color 0.25s;
}
#drop:hover {
  border-color: #646cff;
}
#home {
  width: 115px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #1a1a1a;
  color: #f9f9f9;
  font-size: 15px;
  cursor: pointer;
  transition: border-color 0.25s;
}
#home:hover {
  border-color: #646cff;
}
#account {
  width: 115px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #1a1a1a;
  color: #f9f9f9;
  font-size: 15px;
  cursor: pointer;
  transition: border-color 0.25s;
}
#account:hover {
  border-color: #646cff;
}

.account {
  font-size: 2em;
  color: #1a1a1a;
  margin-bottom: 20px;
}

#orders {
  background-color: rgb(255, 247, 236);
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#corder {
  color: green;
  font-size: 1em;
  margin-left: 10px;
  display: inline;
}

#orders table {
  width: 100%;
  border-collapse: collapse;
}

#orders th, #orders td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  
}

#orders th {
  background-color:forestgreen;
  color: white;
}

.hovercart {
  background-color: #fff7ec;
  border: 4px solid ;
  color: black;
  padding: 10px;
  flex-direction: column;
  z-index: 999;
  position: relative
}

/* ----------------checkout------------- */
.checkoutTitle h2{
  color:#fff7ec ;
}

.cartItems  {
  color:#fff7ec
}

.userCheckoutInfo {
  display: flex;
  flex-direction: column;
  background-color: 242424;
  color: #fff7ec;
  align-items: flex-start;
}

.checkoutItems {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.checkoutItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.checkoutItem img {
  width: 100%;
  max-width: 120px; /* Adjust the max-width as per your requirement */
  height: auto;
}

.orderup  {
  color: #fff7ec;
  display: flex;
  flex-direction:column;
  justify-content: space-evenly;
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

/* --------------media query---------- */

@media screen and (max-width: 767px) {
  /* Header/Navbar */
  .header-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .register-body {
    position: static;
    margin-top: 1rem;
    margin-right: 0;
  }

  .register-form {
    width: 100%;
  }

  #logo img {
    width: 250px;
  }

  .container {
    padding: 2%;
  }

  .xbox-container,
  .playstation-container,
  .nintendo-container,
  .all-container {
    height: 80px;
    margin: 2% 1%;
  }

  .register-input {
    width: 100%;
  }

  /* Checkout */
  .checkoutItems {
    flex-direction: column;
    align-items: center;
  }

  .checkoutItem {
    width: 80%;
  }

#xgame {
  max-width: 50%;
  padding-top: 20px;
  padding-bottom: 40px;
  padding-right: 20%;
  padding-left: 20%;
}

#pgame, #ngame {

    width:100%;
    height: 150px; 
    object-fit: cover;
    padding-bottom: 20px;
    border-radius: 8px;
  }

#agame {
  width: 80%;
    height: 250px; 
    object-fit: cover;
    padding-bottom: 20px;
}

.game .image {
  transition: transform 0.7s ease;
  max-height: 150px;
  width: 100%;
  object-fit: contain;
}

.game img:hover {
  transform: scale(1.1);
}


.expanded {
  position:fixed ;
  top: 30%;
  margin-right: 5px;
  display:flex;
  width: 80%;
  height:20%;
  flex-direction: row;
  z-index: 999;
}

.expanded .image {
  width: 100%; 
  height: 400px; 
  object-fit: cover; 
  border-radius: 8px; 
}

.expanded .game-details{
padding-left:12%;
padding-right:12%;
width:60%;

}
.expanded .game-details h2{
  font-size: 15px;
  line-height: 1;
}
.expanded .game-details p{
  font-size: 12px;
  line-height: 1;

}

.expanded .game-details button{
  margin-top: 10px;
  margin-bottom: 20px;
}
 
} 

