#root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  background-color: #242424;
}

html,
body {
  box-sizing: border-box;
  background-color: #242424;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* Header/Navbar */
.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 200px;
 
}

.register-body {
  position: absolute;
  right: 18.5rem;
  top: 175px;
}
.register-form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  width: 250px;
}
.register-input {
  height: 25px;
  margin: 3px 0;
}
.demo-button {
  width: 115px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: green;
  color: #f9f9f9;
  font-size: 15px;
  cursor: pointer;
  transition: border-color 0.25s;
  height: 40px;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
.button-container {
  display: flex;
  flex-direction: row;
}
.hover-container {
  position: absolute;
  right: 350px;
  margin-top: 30px;
  overflow-x: hidden;
  height: 250px;
  border-radius: 10px;
  background-color: #424141;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #242424;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #1a1a1a;
    color: white;
  }
}

.all-page-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.all-top {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.bottom-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 200px 20px 200px;
}
 article .image {
  transition: transform 0.7s ease;
  height: 275px;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 6%;
  margin-top: 10px;
}
 article {
  background-color: rgb(255, 247, 236);
  border-radius: 5px;
  padding: 1%;
  margin: 5px;
  width: calc(25% - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.game {
  background-color: rgb(255, 247, 236);
  border-radius: 5px;
  padding: 1%;
  margin: 10px;
  width: calc(25% - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* ------------------------------------xbox description toggle */
.button.seemore {
  background-color: rgb(255, 247, 236);
}

/* --------game cards----------- */
.game .image {
  transition: transform 0.7s ease;
  height: 275px;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 6%;
  margin-top: 10px;
}

.game img:hover {
  transform: scale(1.1);
  cursor: pointer;
}



.expanded {
  position:fixed ;
  top: 15%;
  display:flex;
  width: auto;
  height: auto;
  flex-direction: row;
  z-index: 999;
  border: 2px#000000 solid;
}
.expanded .image {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 8px;
}

.expanded .game-details {
  padding-left: 2%;
  padding-right: 2%;
  width: 60%;
}
.expanded .game-details h2 {
  font-size: 39px;
  line-height: 1.5;
}
.expanded .game-details p {
  font-size: 25px;
}

.expanded .game-details button{
  margin-top:50px;
  width: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #1a1a1a;
  color: #f9f9f9;
  font-size: 15px;
  cursor: pointer;
  transition: border-color 0.25s;
}
.expanded .game-details button:hover {
  border-color: #646cff;
}

#xgame {
  max-width: 50%;
  padding-bottom: 40px;
  padding-right: 20%;
  padding-left: 20%;
  max-height: 175px;
}

#pgame,
#ngame,
#agame {
  width: 48%;
  max-height: 220px;
  object-fit: cover;
  margin-bottom: 20px;
  border-radius: 8px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5%;
}

.xbox-container,
.playstation-container,
.nintendo-container,
.all-container {
  flex: 0 0 calc(50% - 2%);
  height: 200px;
  margin: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.xbox-container {
  background-color: #28c628;
}

.playstation-container {
  background-color: #0051bd;
}

.nintendo-container {
  background-color: #e60012;
}
.nintendo-container img {
  border-radius: 10px;
}

.all-container {
  background-color: #f4f4f4;
}
.all-container img {
  border-radius: 10px;
}
.xbox-container a,
.playstation-container a,
.nintendo-container a,
.all-container a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.all-container a {
  color: black;
}
.allImage {
  width: 80%;
}

.xbox-container:hover {
  background-color: #179b17;
}

.playstation-container:hover {
  background-color: #003087;
}

.nintendo-container:hover {
  background-color: #b90202;
}

.all-container:hover {
  background-color: goldenrod;
}

#logo img {
  width: 400px;
  height: auto;
  object-fit: cover;
}

.register-body {
  color: midnightblue;
  font-weight: bolder;
  background-color: rgb(255, 247, 236);
  padding: 10px;
  border: 5px rgb(29, 29, 191) solid;
  border-radius: 10px;
}

.nav-button, .create-game {
  width: 115px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #1a1a1a;
  color: #f9f9f9;
  font-size: 15px;
  cursor: pointer;
  transition: border-color 0.25s;
  
}
.nav-button:hover, .create-game:hover {
  border-color: #646cff;
}
.cart-button {
  width: 115px;
  padding: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #1a1a1a;
  color: #f9f9f9;
  font-size: 15px;
  cursor: pointer;
  transition: border-color 0.25s;
}
.cart-button:hover {
  border-color: #646cff;
}

.account {
  font-size: 2em;
  color: #1a1a1a;
  margin-bottom: 20px;
}

#orders {
  background-color: rgb(255, 247, 236);
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#corder {
  color: green;
  font-size: 1em;
  margin-left: 10px;
  display: inline;
}

#orders table {
  width: 100%;
  border-collapse: collapse;
}

#orders th,
#orders td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

#orders th {
  background-color: forestgreen;
  color: white;
}

.hovercart {
  background-color: #fff7ec;
  border: 4px solid;
  color: black;
  padding: 10px;
  flex-direction: column;
  z-index: 999;
  position: relative;
}

/* ----------------checkout------------- */
.user-checkout-info {
  background-color: rgb(255, 247, 236);
  color: #050300;
  padding: 10px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  
}
.checkout-question {
  font-size: 31px;
}
.checkoutTitle {
  color:#050300 ;
  font-size: 45px;
  font-weight: 800;
  margin-left: 25px;
  margin-bottom: -5px;
  text-align: center;
}
.details-address {
  font-weight: 500;
  font-size: 20px;
}
.cartItems  {
  color: #050300;
  font-size: 40px;
}
.main-container {
  flex-direction: column;
  background-color: rgb(255, 247, 236);
  color: #050300;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 6px;
}
.table-container {
  display: flex;
  flex-flow: column nowrap;
  background-color: rgb(243, 245, 245);
  width: 80%;
  margin: 4px auto 15px;
  border-radius: 4px;
  border: 1px solid #DADADA;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, .08);
}
.table-row {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  border-bottom: 1px solid #DADADA;
}
.table-row img {
  height: 110px;
}
.row-item {
  display: flex;
  flex: 1;
  font-size: 14px;
  padding: 8px 0;
  justify-content: center;
  align-items: center;
  transition: all 0.15s ease-in-out;
}
.orderup  {
  background-color: rgb(255, 247, 236);;
  color: #050300;
  display: flex;
  flex-direction:column;
  justify-content: space-evenly;
  border: 1px solid #ccc;
  padding: 10px;
  margin-left: 13px;
  height: 24em;
  border-radius: 6px;
}
.sub-total {
  font-size: 30px;
}
.order-title {
  font-size: 30px;
  font-weight: 900;
}
.purchase {
  background-color: rgb(235, 242, 38);
  border-radius: 12px;
  height: 32px;
  border: solid 1px black;
}
.shipping {
  font-size: 20px;
}
.master-container {
  display: flex;
  margin: 20px
}
.left-contianer {
  width: 75%;
}
.right-contianer {
  width: 25%;
  height: 6em;
}
.check-form {
  display: flex;
  flex-direction: column;
}
.form-inputs {
  margin: 7px;
  text-align: center;
  border: 2px solid grey;
  border-radius: 15px;
  background-color: #EEECEC;
  }
  .checkout-button {
    background-color: #28C628;
    border: 2px solid grey;
    border-radius: 15px;
    margin-bottom: 6px;
  }
hr {
   width: 100%;
   color: black;
   margin-top: -10px;
  }
  .total-price {
    font-weight: 700;
  }
/* --------------media query---------- */

@media screen and (max-width: 768px) {
  /* Header/Navbar */
  .header-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .register-body {
    position: static;
    margin-top: 1rem;
    margin-right: 0;
  }

  .register-form {
    width: 100%;
  }

  .container {
    padding: 2%;
  }

  .container {
    margin: 40px auto;
    display: flex;
    flex-direction: column;
  }
  .home-img {
    height: 125px;
    margin-top: 10px;
  }
  .allImage {
    height: 120px;
  }

  .register-input {
    width: 100%;
  }

  /* Checkout */
  .checkoutItems {
    flex-direction: column;
    align-items: center;
  }

  .checkoutItem {
    width: 80%;
  }

  #xgame,
  #pgame,
  #ngame,
  #agame {
    max-width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10%;
    padding-left: 10%;
    height: auto;
    object-fit: cover;
    margin-bottom: 20px;
    border-radius: 8px;
  }

  .game {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-bottom: 30px;
  }

  .game-detail {
    font-size: 1em;
    line-height: 1.2;
    text-align: center;
  }
  .add-cart{
    width: 115px;
    padding: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #1a1a1a;
    color: #f9f9f9;
    font-size: 15px;
    cursor: pointer;
    transition: border-color 0.25s;
  }

  .game .image {
    transition: transform 0.7s ease;
    max-height: 150px;
    width: 100%;
    object-fit: contain;
  }

  .game img:hover {
    transform: scale(1.1);
  }

  .expanded {
    position: absolute;
    margin-bottom: 3em;
    margin-right: 5px;
    width: 90%;
    height: auto;
    flex-direction: column;
    align-items: center;
    z-index: 999;
    overflow-y: auto;
  }

  .expanded .image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
  }

  .expanded .game-details{
    padding:5%;
    width:100%;
  
  }

  .expanded .game-details h2,
  .expanded .game-details p {
    font-size: 1em;
    line-height: 1.2;
  }

  .expanded .game-details button {
    margin-top: 10px;
  }
}
